@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.expo-title {
  @apply absolute origin-top-left whitespace-nowrap;
  /* @apply rotate-90 top-0 left-10; */
  /* @apply md:rotate-0 md:top-auto md:left-auto md:bottom-0 md:right-0; */
  @apply rotate-0 top-auto left-auto bottom-4 right-0;
}
